@layer components {
    .aside {
        @apply w-[240px];
    }

    .main {
        width: calc(theme('width.full') - 240px);
    }

    .calendar-month-height {
        height: calc(theme('height.screen') - 139px);
    }

    .calendar-week-height-sm {
        height: calc(theme('height.screen') - 181px);
    }

    .calendar-week-height-md {
        height: calc(theme('height.screen') - 131px);
    }

    .calendar-week-height {
        height: calc(theme('height.screen') - 90px);
    }

    .link {
        @apply text-blue-500 hover:text-blue-400 transition-colors ease-in-out duration-200;
    }
}

@layer utilities {
    .row-px {
        @apply px-3 sm:px-6 lg:px-8;
    }

    .row-py {
        @apply py-10;
    }

    /* Firefox */
    .mixpost-scroll-style {
        scrollbar-width: thin;
        /*scrollbar-color: var(--secondary) var(--primary);*/
    }

    /* Chrome, Edge, and Safari */
    .mixpost-scroll-style::-webkit-scrollbar {
        @apply invisible w-3;
    }

    .mixpost-scroll-style::-webkit-scrollbar-track {
        @apply bg-gray-50 rounded;
    }

    .mixpost-scroll-style::-webkit-scrollbar-thumb {
        @apply bg-gray-300 rounded-md border-4 border-solid border-white transition-colors ease-in-out duration-200;
    }

    .mixpost-scroll-style::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-400;
    }
}
