@layer components {
    .aside {
        @apply w-[240px];
    }

    .main {
        width: calc(theme('width.full') - 240px);
    }
}

@layer utilities {
    .default-x-padding {
        @apply px-3 sm:px-6 lg:px-8;
    }

    .default-y-padding {
        @apply py-10;
    }
}
