.ProseMirror div.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--color-gray-400);
    pointer-events: none;
    height: 0;
}

.ProseMirror a {
    color:  var(--color-blue-500);
}
